<form method=POST enctype=multipart/form-data action="/testUpload">
  <input type=file id="media" name="file" key="file">
  <input type="submit">
</form>

<div class="progress">
<div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
  0%
</div>
</div>

<video id="videoPlayer" controls>
  <source src="http://164.90.186.213/video/sample" type="video/mp4">
</video>

